body{
    color: beige;
    position:relative;
    background-color: silver!important;
}
.bg-light{
  background-color: white!important;
}

.navbar navbar-expand-lg navbar-light bg-light{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: silver;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar a{
  padding:20px;
}
a.navbar-brand{
  padding-top: 15px;
  padding-bottom: 10px;
  color: #000;
  background-color: rgb(15, 143, 160);

}

.row{
  background-color: beige;
}
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

.navbar ul{
  right: 0;
  float: right;
}
.navbar li a {
  color: #000;
  text-decoration: none;

}
.container {
    color: cadetblue;
    margin-right: auto;
}
.nav nav-pills{
    text-align: right;
}

p{
  color: #000;
} 
.description-content{
  padding:30px;
  margin-top:30px;
  background-color: white;
}

.images{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-image{
  width:200px;
  height:200px;
  margin-top: 20px;
  margin-right:20px;
  float:left;
}

.thumbnail{
  width: 100px;
  height:100px;
}


.box{
  width:100%;
  padding:30px 30px 40px;
  margin-top:30px;
  background-color: #fff;
}

.images{
  margin-top: 15px;
  text-align: center;
}

@media (min-width: 768px)
.ul {
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
